@import './sass-modules/_modules.scss';

.menu-option-container{
  @include inline-flexbox(flex-start, flex-end);
  flex-direction: column;
  height: 100%;
  position: relative;
  .menu-title{
    @include font-size(16px)
    @include unselectable;
    color: $dark-grey;
    cursor: pointer;
    display: inline;
    height: 100%;
    padding: 13px 15px;
    &::after{
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-style: solid;
      border-width: 4px;
      display: inline-block;
      margin-left: 5px;
      content: "";
      height: 0px;
      width: 0px;
    }
  }
  .menu-dropdown-wrapper{
    @include flexbox(flex-end)
    height: 0px;
    width: 0px;
    .menu-dropdown-modal{
      position: absolute;
      right: 0px;
      width: 300px;
      .menu-dropdown-container{
        background-color: $light-grey;
        border-color: $grey;
        border-style: solid;
        border-width: 1px;
        box-shadow: 0px 3px 10px $light-grey;
        .menu-dropdown-header{
          @include flexbox(space-between)
          @include font-size(14px)
          border-color: $grey;
          border-style: solid;
          border-width: 0px 0px 1px;
          font-weight: 600;
          padding: 10px;
          .menu-dropdown-close{
            fill: $dark-grey;
            &:hover{
              fill: $black;
            }
          }
        }
        .menu-options-list{
          list-style: none;
          max-height: 400px;
          overflow: auto;
          li{
            @include flexbox();
            @include font-size(14px)
            @include unselectable;
            align-items: center;
            background-color: $white;
            border-color: $grey;
            border-style: solid;
            border-width: 0px 0px 1px;
            color: $dark-grey;
            cursor: pointer;
            padding: 8px 20px;
            &:last-child{
              border: none;
            }
            &:hover{
              background-color: $blue;
              color: $white;
            }
            .menu-selected-container{
              @include inline-flexbox(flex-start, center)
              width: 15px;
              margin-right: 5px;
            }
            .menu-item-avatar{
              @include square-container(20px)
              border-radius: 5px;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
