@import './sass-modules/_modules.scss';

.issues-container{
<<<<<<< HEAD
  margin: 10px auto;
  max-width: 978px;
  min-width: 768px;
  width: 96%;
  .issues-repo-name{
    @include font-size(28px)
    padding: 10px 0px;
  }
  .issues-header{
    @include flexbox(space-between);
=======
  margin: auto;
  max-width: 978px;
  min-width: 768px;
  width: 96%;
  .issues-repo-name{
    @include font-size(28px)
    padding: 10px 0px;
  }
  .issues-header{
<<<<<<< HEAD
>>>>>>> 77a5642... Add package to run sass scripts with npm build & npm start
=======
    @include flexbox(space-between);
>>>>>>> c4c3db9... Implement Author filtering on issues
    @include font-size(16px);
    background-color: $light-grey;
    border-color: $grey;
    border-style: solid;
    border-width: 1px;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> c4c3db9... Implement Author filtering on issues
    padding: 0px 10px;
    .issues-menu-container{
      ul{
        list-style: none;
      }
    }
<<<<<<< HEAD
  }
  .issues-list-container{
    list-style: none;
=======
    padding: 10px;
>>>>>>> 77a5642... Add package to run sass scripts with npm build & npm start
=======
>>>>>>> c4c3db9... Implement Author filtering on issues
  }
  .issues-list-container{
    list-style: none;
  }
}
