<<<<<<< HEAD
@mixin flexbox($justify-content: flex-start, $align-content: flex-start, $wrap: nowrap){
=======
@mixin flexbox($justify-content: flex-start, $align-content: flex-start, $wrap: no-wrap){
>>>>>>> 77a5642... Add package to run sass scripts with npm build & npm start
  align-content: $align-content;
  display: flex;
  flex-wrap: $wrap;
  justify-content: $justify-content;
}

@mixin font-size($font-size) {
  font-size: ($font-size / 16px) * 1rem;
}

<<<<<<< HEAD
@mixin inline-flexbox($justify-content: flex-start, $align-content: flex-start, $wrap: nowrap){
=======
@mixin inline-flexbox($justify-content: flex-start, $align-content: flex-start, $wrap: no-wrap){
>>>>>>> 77a5642... Add package to run sass scripts with npm build & npm start
  align-content: $align-content;
  display: inline-flex;
  flex-wrap: $wrap;
  justify-content: $justify-content;
}

@mixin line-height($line-height) {
  line-height: ($line-height / 16px) * 1rem;
}

<<<<<<< HEAD
@mixin placeholder-style($color: initial, $opacity: 1, $font-weight: 500){
  &::placeholder{
    color: $color;
    font-weight: $font-weight;
    opacity: $opacity;
  }
  &:-ms-input-placeholder{
    color: $color;
    font-weight: $font-weight;
    opacity: $opacity;
  }
  &::-ms-input-placeholder{
    color: $color;
    font-weight: $font-weight;
    opacity: $opacity;
  }
}

@mixin square-container($dimension){
=======
@mixin square-picture($dimension){
>>>>>>> 77a5642... Add package to run sass scripts with npm build & npm start
  height: $dimension;
  width: $dimension;
}

@mixin unselectable{
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
}
