// Color Palette

$black: #24292e;
$blue: #0366d6;
$dark-grey: #586069;
<<<<<<< HEAD
<<<<<<< HEAD
$green: #28a745;
=======
>>>>>>> 77a5642... Add package to run sass scripts with npm build & npm start
=======
$green: #28a745;
>>>>>>> c4c3db9... Implement Author filtering on issues
$grey: #e1e4e8;
$light-grey: #f6f8fa;
$red: #cb2431;
$white: #ffffff;
